@model Escritor

@{
    ViewData["Title"] = "Adicionar Escritor";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Adicionar um Novo Escritor</h4>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group text-center">
                        <img id="FotoPreview" style="height:300px;" />
                    </div>
                    <div class="form-group" >
                        <label asp-for="URLFoto" class="control-label"></label>
                        <input asp-for="URLFoto" class="form-control"/>
                        <span asp-validation-for="URLFoto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NomeCompleto" class="control-label"></label>
                        <input asp-for="NomeCompleto" class="form-control" />
                        <span asp-validation-for="NomeCompleto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Biografia" class="control-label"></label>
                        <input asp-for="Biografia" class="form-control" />
                        <span asp-validation-for="Biografia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Adicionar" class="btn btn-outline-success float-end"/>
                        <a class="btn btn-outline-secondary" asp-action="Index">Mostrar Todos</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function(){
            var output = document.getElementById('FotoPreview');
            output.src = $("#URLFoto").val();   
        })

        $("#URLFoto").on("change", function(){
            var output = document.getElementById('FotoPreview');
            output.src = $(this).val();
        })
    </script>
}