<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Resultado não encontrado</h1>
        <hr/>
        <a class="btn btn-outline-success" asp-controller="Livros" asp-action="Index">Página Inicial</a>
    </div>
</div>